@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Klee+One&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Jura:wght@300&family=Klee+One&family=Space+Mono&display=swap');



*{
    margin: 0; 
    padding: 0;
}
.sidebar{ 
    background-color: rgb(92, 86, 86); 
    width: 210px;
    font-family: 'Comfortaa', cursive; 
    height: 100vh;
}

.sidebar nav{
    padding: 27px;
}

.sidebar nav li{
    list-style: none;
    font-size: 19px;
    padding: 20px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: honeydew;
}

.main{
    /*background-color: rgb(0, 174, 255) ;*/
    width: 90vw;
}


.container{
    display: flex;
}

.infocontainer{
    /*background-color: tomato;*/
    height: 60vh;
    width: 80vw;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Jura', sans-serif;
}

.hello{
    font-size: 50px;
    
    
}
.name{
    font-size: 44px; 
    font-weight: bolder;
    
}
.about{
    font-size: 30px; 
    font-weight: 500; 
}

.moreabout{
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    margin-top: 15px;
}


.buttons button{
    margin-top: 25px;
    padding: 10px;
    color: rgb(255 255 255);
    background-color: rgb(223, 75, 137);
    border-radius: 20px;
    font-size: 14px;
    margin-right: 25px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: rgb(255 255 255);
    color: rgb(223, 75, 137);
}

.devpic img{
    height: 60vh;
}
